UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120

# Bastion host config
Host bastion.fabric-testbed.net
    User collinpoetoehena_0000217992
    ForwardAgent yes
    IdentityFile ~/.ssh/fabric_bastion_key
    IdentitiesOnly yes

# All other hosts than bastion (used to connect with kubespray to the VMs for example)
Host * !bastion.fabric-testbed.net
    ProxyJump collinpoetoehena_0000217992@bastion.fabric-testbed.net:22
    